Package: simbiota
Version: 0.0.2
Section: utils
Priority: optional
Architecture: armhf
Description: Simbiota is a lightweight (both memory and CPU usage) antivirus.
Maintainer: Ukatemi Technologies Zrt.
Homepage: https://github.com/simbiota/simbiota
Depends: jq, curl
